body {
    margin: 0;
    display: flex;
    justify-content: center; /* place all the contents to center vertically */
    align-items: center;
    height: 100vh; /* place all the contents to center horizontally */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.calculator {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #012675;
    border-radius: 12px;
    max-width: 500px;
    overflow: hidden; /* hide long equation */
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #003ab8;
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* makes 4 column per row */
    gap: 12px;
    padding: 24px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; /* change cursor type when entering button */
}

button:hover {
    background-color: rgb(217, 217, 217);
}

button:active {
    background-color: rgb(197, 197, 197);
}

#operatorBtn {
    background-color: #fc0000;
}

#operatorBtn:hover {
    background-color: #b60000;
}

#operatorBtn:active {
    background-color: #5a0000;
}